* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.header, .footer, .section-one {
    background-color: #1F2937;
}

.header {
    display: flex;
    align-items: center;
    padding: 10px 80px;
}

.logo {
    margin-right: auto;
    color: #F9FAF8;
    font-size: 24px;
}

a, p {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.right-links {
    display: flex;
    gap: 16px;
}

.buttons-common {
    all: unset;
    display: flex;
    justify-content: center;
    padding: 4px 25px;
    background-color: #3882F6;
    border-radius: 9px;
    color:#E5E7EB;
    cursor: pointer;
    font-size: 18px;
    margin: 10px 0px;
}

.section-one-content h2 {
    font-size: 48px;
    color:#F9FAF8;
    font-weight: 900;
}

.section-one-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    margin-right: auto;
    max-width: 600px;
}

.section-one {
    display: flex;
    padding: 60px 80px;
    align-items: center;
    gap: 40px;
}

.section-one img {
    width: 400px;
    max-width: 100%;
    height: auto;
}

.section-two {
    display: flex;
    flex-direction: column;
}

.image-list {
    display: flex;
}

.images-in-list{
    width: 150px;
    height: 150px;
    object-fit: cover;
}


